<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.sharedcalendar.mapper.ConnectionMapper">

    <select id="getInviteUrlCode" resultType="String">
        SELECT invite_url_code
        FROM USER
        WHERE id = #{id};
    </select>

    <select id="getConnection" resultType="study.sharedcalendar.dto.Connection">
        SELECT id, connector_id, connectee_id, activate
        FROM CONNECTOR
        WHERE (connector_id = #{connectorId} AND connectee_id = #{connecteeId})
           OR (connectee_id = #{connectorId} AND connector_id = #{connecteeId});
    </select>

    <update id="modifyActivate">
        UPDATE CONNECTOR
        SET activate = #{status}
        WHERE id = #{id};
    </update>

    <insert id="createConnection">
        INSERT INTO CONNECTOR (connector_id, connectee_id, last_visited_at, activate, created_at, updated_at)
        values (#{connectorId}, #{connecteeId}, NOW(), 1, NOW(), NOW())
    </insert>

    <select id="countConnection" resultType="int">
        SELECT count(*)
        FROM CONNECTOR
        WHERE (connector_id = #{userId} OR connectee_id = #{userId})
          AND (CONNECTOR.activate = 1);
    </select>

    <select id="findTenConnection" resultType="String">
        SELECT USER.user_id
        FROM CONNECTOR
                 JOIN USER ON CONNECTOR.connector_id = USER.id OR CONNECTOR.connectee_id = USER.id
        WHERE ((CONNECTOR.connector_id = #{userId} OR CONNECTOR.connectee_id = #{userId}) AND
               USER.id
            != #{userId}
          AND CONNECTOR.activate = 1 ) LIMIT 10;

    </select>

    <select id="findAllConnection" resultType="String">
        SELECT USER.user_id
        FROM CONNECTOR
                 JOIN USER ON CONNECTOR.connector_id = USER.id OR CONNECTOR.connectee_id = USER.id
        WHERE (CONNECTOR.connector_id = #{userId} OR CONNECTOR.connectee_id = #{userId})
          AND USER.id != #{userId}
          AND
            CONNECTOR.activate = 1;
    </select>

    <select id="findRecentConnection" resultType="String">
        SELECT USER.user_id
        FROM CONNECTOR
                 JOIN USER ON CONNECTOR.connector_id = USER.id OR CONNECTOR.connectee_id = USER.id
        WHERE (CONNECTOR.connector_id = #{userId} OR CONNECTOR.connectee_id = #{userId})
          AND USER.id != #{userId}
          AND
            CONNECTOR.activate = 1
        ORDER BY CONNECTOR.last_visited_at DESC
            LIMIT 3;
    </select>

</mapper>