<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.sharedcalendar.mapper.ConnectionMapper">

    <select id="getInviteUrlCode" resultType="String">
        SELECT invite_url_code
        FROM USER
        WHERE id = #{id};
    </select>

    <select id="getConnection" resultType="study.sharedcalendar.dto.Connection">
        SELECT id, connector_id, connectee_id, activate
        FROM CONNECTOR
        WHERE (connector_id = #{connectorId} AND connectee_id = #{connecteeId})
           OR (connectee_id = #{connectorId} AND connector_id = #{connecteeId});
    </select>

    <update id="modifyActivate">
        UPDATE CONNECTOR
        SET activate = #{status}
        WHERE id = #{id};
    </update>

    <insert id="createConnection">
        INSERT INTO CONNECTOR (connector_id, connectee_id, last_visited_at, activate, created_at,
                               updated_at)
        values (#{connectorId}, #{connecteeId}, NOW(), 1, NOW(), NOW())
    </insert>

</mapper>