<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.sharedcalendar.mapper.UserMapper">

    <select id="findLoginUser" resultType="study.sharedcalendar.dto.User">
        SELECT id, user_id, password, activate, try_count
        FROM USER
        WHERE user_id = #{userId};
    </select>

    <update id="incrementLoginTryCount">
        UPDATE USER
        SET try_count = try_count + 1
        WHERE id = #{id};
    </update>

    <update id="initLoginTryCount">
        UPDATE USER
        SET try_count = 0
        WHERE id = #{id};
    </update>

    <select id="getPasswordDateDiff" resultType="int">
        SELECT DATEDIFF(dd, password_date, NOW()) as DATEDIFF
        FROM USER
        WHERE id = #{id};
    </select>

    <insert id="createUser">
        INSERT INTO USER(user_id,
                         password,
                         email,
                         invite_url_code,
                         activate,
                         try_count,
                         password_date,
                         created_at,
                         updated_at)
        values (#{userId},
                #{password},
                #{email},
                #{inviteUrlCode},
                true,
                0,
                NOW(),
                NOW(),
                NOW());
    </insert>

    <select id="userIdExist" resultType="boolean">
        SELECT EXISTS(
                       SELECT *
                       FROM USER
                       WHERE user_id = #{userId}
                   );
    </select>

    <select id="getIdByInviteCode" resultType="int">
        SELECT id
        FROM USER
        WHERE invite_url_code = #{inviteUrlCode};
    </select>

    <update id="modifyInviteUrlCode">
        UPDATE USER
        SET invite_url_code = #{inviteUrlCode}
        WHERE id = #{id};
    </update>

</mapper>