<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.sharedcalendar.mapper.UserMapper">
    <insert id="createUser">
        INSERT INTO user(user_id,
                         password,
                         email,
                         invite_url,
                         activate,
                         created_at,
                         updated_at)
        values (#{userId},
                #{password},
                #{email},
                1,
                false,
                NOW(),
                NOW());
    </insert>

    <select id="userIdExist" resultType="boolean">
        SELECT EXISTS(
                       SELECT *
                       FROM user
                       WHERE user_id = #{userId}
                   );
    </select>

    <select id="findLoginUser" resultType="study.sharedcalendar.dto.LoginRes">
        SELECT id, user_id, password, activate
        FROM user
        WHERE user_id=#{userId};
    </select>

</mapper>