<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.sharedcalendar.mapper.UserMapper">
    <insert id="createUser">
        INSERT INTO USER(user_id,
                         password,
                         email,
                         invite_url_code,
                         activate,
                         try_count,
                         password_date,
                         created_at,
                         updated_at)
        values (#{userId},
                #{password},
                #{email},
                #{inviteUrlCode},
                true,
                0,
                NOW(),
                NOW(),
                NOW());
    </insert>

    <select id="userIdExist" resultType="boolean">
        SELECT EXISTS(
                       SELECT *
                       FROM USER
                       WHERE user_id = #{userId}
                   );
    </select>

    <select id="getIdByInviteCode" resultType="int">
        SELECT id
        FROM USER
        WHERE invite_url_code = #{inviteUrlCode};
    </select>

    <select id="getIdByUserId" resultType="int">
        SELECT id
        FROM USER
        WHERE user_id = #{userId};
    </select>

</mapper>